.modal-dialog
    .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
        .modal-body
            div.alert.alert-success(role="alert")Guests Added Successfully!
        .modal-footer
            button.btn.btn-success(data-dismiss="modal" type="button")Close