//create a page that shows the guests, add guests, select invitation response,
// resonse platform, Attendance, arival time, departure time
extends layout

block pageContent
  .container
      h1= title
      p Welcome to #{title}
      
      